/* logo */
.logo > img {
    width: 100%;
    padding-left: 10px;
}

/* Default: mobile devices < 768px */
.nk-titel-regel1, .nk-titel-regel2 {
    font-size: 15px;
    padding-left: 25px;
}
.nk-titel-regel1 {
    padding-top: 0px;
}
.nk-titel-regel2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .nk-titel-regel1, .nk-titel-regel2 {
        font-size: 15px;
        padding-left: 0px;
    }
    .nk-titel-regel1 {
        padding-top: 8px;
    }
    .nk-titel-regel2 {
        margin-top: -2px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .nk-titel-regel1, .nk-titel-regel2 {
        font-size: 23px;
    }
    .nk-titel-regel1 {
        padding-top: 10px;
    }
    .nk-titel-regel2 {
        margin-top: -5px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .nk-titel-regel1, .nk-titel-regel2 {
        font-size: 30px;
    }
    .nk-titel-regel1 {
        padding-top: 10px;
    }
    .nk-titel-regel2 {
        margin-top: -5px;
    }
}

.nk-titel-regel1, .nk-titel-regel2 {
    color: #F0810F;
    font-weight: bold;
}


/* navbar */
.navbar-default {
    background-color: #003473;
    border-color: #003473;
}

/* brand */
.navbar-default .navbar-brand {
    color: #F0810F;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}

/* links */
.navbar-default .navbar-nav > li > a {
    color: #F0810F;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

/* active link */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #003473;
}

/* toggle */
.navbar-default .navbar-toggle {
    border-color: #003473;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #F0810F;
}

/* glyphicon */
.glyphicon {
    color: #F0810F;
}
.navbar-default .glyphicon:hover,
.navbar-default .glyphicon:focus {
    color: white;
}

