<div class="container">
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="nk-text">Voor algemene vragen over het NK Masters Werpen 2015, kunt u een email sturen naar info@altisnkmasters.nl.</div>
        </div>
    </div>

    <hr class="nk-news-horizontal-line">

    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Organisatie Comité</p>
            <div class="nk-text">Voorzitter / Secretaris: Ans van Maanen (voorzitter@altisnkmasters.nl)</div>
            <div class="nk-text">Penningmeester: Peter de Jonge</div>
            <div class="nk-text">Wedstrijdorganisatie: Harald Gijtenbeek</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="nk-text">Sponsoring: Henk Schomacher</div>
            <div class="nk-text">PR: Gert Koudijs (pr@altisnkmasters.nl)</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="nk-text">Facilitaire zaken: Peter Beijer</div>
            <div class="nk-text">Medische commissie: Eefke Vroemen</div>
            <div class="nk-text">Website: Han Markslag (webbeheer@altisnkmasters.nl)</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Officials</p>
            <div class="nk-text">Technisch gedelegeerde namens de AU: Jaap van Amsterdam</div>
            <div class="nk-text">Wedstrijdleider: Bram van der Vos</div>
            <div class="nk-text">Weging materiaal: Kees Blokland</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Scheidsrechters</p>
            <div class="nk-text">Gerrit van Gessel</div>
            <div class="nk-text">Ad Luykx</div>
            <div class="nk-text">Hennij Oldenhave</div>
            <div class="nk-text">Bart Wijnen</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="nk-text">Microfonist: Ton van der Bruggen</div>
        </div>
    </div>
</div>