<div class="container">
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="nk-text">Voor algemene vragen over het NK Masters Werpen 2015, kunt u een email
                sturen naar <span class="nk-email">info@altisnkmasters.nl</span>.</div>
        </div>
    </div>

    <hr class="nk-news-horizontal-line">

    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Organisatie Comité</p>
            <div class="nk-text">Voorzitter: Ans van Maanen (<span class="nk-email">voorzitter@altisnkmasters.nl</span>)</div>
            <div class="nk-text">Secretaris: Harriët Op den Oordt</div>
            <div class="nk-text">Penningmeester: Peter de Jonge</div>
            <div class="nk-text">Wedstrijdorganisatie: Harald Gijtenbeek</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="nk-text">Sponsoring: Henk Schomacher</div>
            <div class="nk-text">PR: Gert Koudijs (<span class="nk-email">pr@altisnkmasters.nl</span>)</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="nk-text">Facilitaire zaken: Peter Beijer</div>
            <div class="nk-text">Medische commissie: Eefke Vroemen</div>
            <div class="nk-text">Website: Han Markslag (<span class="nk-email">webbeheer@altisnkmasters.nl)</span></div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Officials</p>
            <div class="nk-text">Technisch gedelegeerde namens de AU: Jaap van Amsterdam</div>
            <div class="nk-text">Wedstrijdleider: Sebastiaan Durand</div>
            <div class="nk-text">Weging materiaal: Kees Blokland</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Scheidsrechters</p>
            <div class="nk-text">Ton Groenendaal</div>
            <div class="nk-text">René Meijer</div>
            <div class="nk-text">Hennij Oldenhave</div>
            <div class="nk-text">Bart van Egeraat</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Microfonisten</p>
            <div class="nk-text">Ton van der Bruggen</div>
            <div class="nk-text">Rolf Huizinga</div>
        </div>
    </div>
</div>