<div class="container">
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="nk-text">Voor algemene vragen over het NK Masters 2016, kunt u een email
                sturen naar <span class="nk-email">info@altisnkmasters.nl</span>.</div>
        </div>
    </div>

    <hr class="nk-news-horizontal-line">

    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Organisatie Comité</p>
            <div class="nk-text">Voorzitter: Ans van Maanen (<span class="nk-email">voorzitter@altisnkmasters.nl of 06-53705824</span>)</div>
            <div class="nk-text">Penningmeester: Peter de Jonge</div>
            <div class="nk-text">Wedstrijdsecretaris: Mireille Bőgels</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="nk-text">Coördinator Sponsoring: Henk Schomacher</div>
            <div class="nk-text">Coördinator PR en Communicatie: Gert Koudijs (<span class="nk-email">pr@altisnkmasters.nl</span>)</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="nk-text">Coördinator Accommodatiezaken: Peter Beijer</div>
            <div class="nk-text">Coördinator Atletiekmateriaal: Kees Blokland</div>
            <div class="nk-text">Coördinator Medische commissie: Eefke Vroemen</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="nk-text">Website: Han Markslag (<span class="nk-email">webbeheer@altisnkmasters.nl)</span></div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Officials</p>
            <div class="nk-text">Technisch gedelegeerden namens de AU: Jaap van Amsterdam en Hans-Peter Dries</div>
            <div class="nk-text">Wedstrijdleider: Sebastiaan Durand</div>
            <div class="nk-text">Assistent wedstrijdleider: Chris Van Lierop</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Scheidsrechters</p>
            <div class="nk-text">Ton Groenendaal</div>
            <div class="nk-text">René Meijer</div>
            <div class="nk-text">Hennij Oldenhave</div>
            <div class="nk-text">Bart van Egeraat</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Snelwandeljury</p>
            <div class="nk-text">Hans van der Knaap</div>
            <div class="nk-text">Frans Leijtens</div>
            <div class="nk-text">Karin van Bremen</div>
            <div class="nk-text">Frank van Ravensberg</div>
            <div class="nk-text">Henri Hammecher</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Starters</p>
            <div class="nk-text">Ronald de Bruijn</div>
            <div class="nk-text">Paul Hoos</div>
        </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Electronische tijdwaarneming</p>
            <div class="nk-text">ET Utrecht (<a class="nk-text-link" href="http://www.etutrecht.nl/" target="_blank">website</a>)</div>
         </div>
    </div>
    <br>
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Microfonisten</p>
            <div class="nk-text">Ton van der Bruggen</div>
            <div class="nk-text">Rolf Huizinga</div>
        </div>
    </div>
</div>