<div class="container">
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Deelnemerslijst</p>
            <p class="nk-text">De screening van de aanmeldingen is door de Atletiekunie gedaan.
                Klik <a class="nk-text-link" href="../pdf/nk-masters-2016-ddelnemers.pdf">hier</a> voor
                de lijst met toegelaten deelnemers.</p>
        </div>
    </div>

    <hr class="nk-news-horizontal-line">
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Overnachtingsmogelijkheden</p>
            <p class="nk-text">Kom met je partner een weekendje naar Amersfoort! Het is leuk
                om plannen te maken voor een weekendje Amersfoort. Je partner en je begeleiders
                zullen zich ongetwijfeld prima vermaken langs de baan. Daar zullen allerlei
                'side events' worden georganiseerd. Maar ook in het historisch Amersfoort is
                veel te zien en te beleven. Overnachtingsmogelijkheden zijn er voldoende, in
                alle prijsklassen. Speciaal voor de deelnemers van het NK Masters 2016 en hun
                begeleiders zijn met een aantal accommodaties speciale afspraken gemaakt.
            </p>
        </div>
    </div>

    <hr class="nk-news-horizontal-line">

    <div class="row nk-text-kantlijn">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="nk-news-header">Berghotel (bekend van de Amersfoortse Bergcross)</div>
            <div class="nk-news-date">Utrechtseweg 225, 3818 EG Amersfoort<br>
                (5,8 km van de atletiekbaan)</div>
            <p class="nk-text">Een comfort double kamer inclusief ontbijt voor € 69,00
                (voor twee personen) en inclusief ontbijt. Een driegangendiner voor € 29,50 per persoon.
                Te boeken via <a class="nk-text-link" href="http://www.berghotelamersfoort.nl" target="_blank">www.berghotelamersfoort.nl</a>
                en telefoon 033-4224222 o.v.v. <b>'NK Masters 16'</b>.
            </p>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <a class="nk-text-link" href="http://www.berghotelamersfoort.nl" target="_blank">
                <img class="nk-hotel-photo" src="../images/nk-hotels-berghotel.jpg">
            </a>
        </div>
    </div>

    <hr class="nk-news-horizontal-line">

    <div class="row nk-text-kantlijn">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="nk-news-header">Campanile Hotel</div>
            <div class="nk-news-date">De Brand 50, 3823 LM Amersfoort<br>
                (5,8 km van de atletiekbaan)</div>
            <p class="nk-text">Een kamer voor € 25,00 per persoon op basis van tweepersoonsgebruik
                per nacht. Een kamer voor € 49,00 op basis van éénpersoonsgebruik per nacht. Deze
                prijzen zijn inclusief ontbijt. Te boeken via <a class="nk-text-link" href="http://www.campanile.com" target="_blank">www.campanile.com</a>
                en telefoon 033-4558757 o.v.v. <b>'NK Masters 16'</b>.
            </p>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <a class="nk-text-link" href="http://www.campanile.com" target="_blank">
                <img class="nk-hotel-photo" src="../images/nk-hotels-campanile.png">
            </a>
        </div>
    </div>

    <hr class="nk-news-horizontal-line">

    <div class="row nk-text-kantlijn">
        <div class="col-sm-7 col-md-7 col-lg-7">
            <div class="nk-news-header">Camping / Vakantiepark Duynparc Soest</div>
            <div class="nk-news-date">Birkstraat 132, 3768 HM Soest<br>
                (circa 6 km van de atletiekbaan)</div>
            <p class="nk-text">15% korting voor deelnemers NK Masters 2016.
                Standaard tentprijs €16.50 (met korting: € 14,05).
                Dat is inclusief: twee personen, gebruik douches, gratis gebruik van Wi-Fi
                voor twee apparaten en gebruik van alle faciliteiten.
                Standaard comfortplaats (camper of caravan) €29.50 (met korting € 25,10).
                Dit is inclusief: twee personen, gebruik van douches, gratis gebruik van
                Wi-Fi voor twee apparaten, gebruik van alle faciliteiten op het park en
                gebruik van elektriciteit, water en TV-aansluiting op de plaats.</p>
            <p class="nk-text">Online boeken via:
                <a class="nk-text-link" href="http://www.duynparcsoest.nl" target="_blank">www.duynparcsoest.nl</a>
                o.v.v. <b>‘nkmasters2016’</b>. De korting wordt meegenomen in de reservering.
                Alleen bij vooraf ingevoerde reserveringen wordt een korting van 15% doorgevoerd.
                Gasten kunnen ook gebruik maken van het restaurant op het park. Er is altijd een
                daghap en een drie-gangen menu.
            </p>
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <a class="nk-text-link" href="http://www.duynparcsoest.nl" target="_blank">
                <img class="nk-hotel-photo" src="../images/nk-hotels-duynparc-soest.png">
            </a>
        </div>
    </div>
</div>
