<div ng-controller="nkDeelnemersCTRL" xmlns="http://www.w3.org/1999/html">

    <div class="container">

        <div class="row nk-text-kantlijn">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="nk-h2-text">Informatie voor de deelnemers</p>
                <p class="nk-text">In het informatiebulletin dat aan alle deelnemers is gestuurd staat
                    alle relevante informatie m.b.t. het NK Werpen voor masters.
                    Klik <a class="nk-text-link" href="pdf/nk-masters-informatiebulletin.pdf" target="_blank">hier</a> om
                    het informatiebulletin te bekijken. De plattegrond van de baan en de accommodaties vindt u
                    <a class="nk-text-link" href="images/nk-plattegrond-baan.jpg" target="_blank">hier.</a></p>
            </div>
        </div>

        <hr class="nk-news-horizontal-line">

        <div class="row nk-text-kantlijn">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="nk-h2-text">Deelnemers</p>
                <p class="nk-text" style="padding-bottom: 10px;">Het onderstaande overzicht bevat de lijst met
                    deelnemers aan het NK Werpen voor masters.
                    Deze deelnemerlijst is na screening door de Atletiekunie definitief vastgesteld.
                    De inschrijving is gesloten.
                    Eventuele onjuistheden kunt u per email doorgeven aan de webbeheerder
                    (webbeheer@altisnkmasters.nl).</p>
            </div>
        </div>

        <div class="nk-text-kantlijn nk-table-expand">
            <a ng-hide="showDetails" ng-click="toggleDetails()" style="color: #F0810F;">Toon onderdelen deelnemers</a>
            <a ng-show="showDetails" ng-click="toggleDetails()" style="color: #F0810F;">Verberg onderdelen deelnemers</a>
        </div>

        <div class="nk-search-deelnemer">
            <input type="text" class="nk-search-deelnemer-input" placeholder="Zoek deelnemer..." ng-model="searchText">
            <span class="glyphicon glyphicon-search" style="padding-top: 5px; margin-left: -25px;"></span>
        </div>

        <table class="nk-text nk-table-align">
            <tr class="nk-table-header">
                <th><a href="" ng-click="sortOrder='naam';
                    reverse=reverseNaam; reverseNaam=!reverseNaam; reverseVereniging=false; reverseCategorie=false;">
                    Naam<img style="padding-left: 5px; padding-bottom: 2px; height: 14px;" src="images/sort-icon.png"></a></th>
                <th><a href="" ng-click="sortOrder='vereniging';
                    reverse=reverseVereniging; reverseVereniging=!reverseVereniging; reverseNaam=false; reverseCategorie=false;">
                    Vereniging<img style="padding-left: 5px; padding-bottom: 2px; height: 14px;" src="images/sort-icon.png"></a></th>
                <th><a style="white-space: nowrap;" href="" ng-click="sortOrder='categorie';
                    reverse = reverseCategorie; reverseCategorie=!reverseCategorie; reverseNaam=false; reverseVereniging=false;">
                    Cat<img style="padding-left: 5px; padding-bottom: 2px; height: 14px;" src="images/sort-icon.png"></a></th>
            </tr>

            <!--<tbody ng-repeat="deelnemer in deelnemers | orderBy:sortOrder:reverse">-->
            <tbody ng-repeat="deelnemer in deelnemers | searchDeelnemer:searchText | orderBy:sortOrder:reverse">
            <tr class="nk-deelnemer">
                <td>{{deelnemer.naam}}</td>
                <td>{{deelnemer.vereniging}}</td>
                <td>{{deelnemer.categorie}}</td>
            </tr>
            <tr class="nk-text-onderdeel" ng-show="showDetails" ng-repeat="onderdeel in deelnemer.onderdelen">
                <td colspan="3">{{onderdeel.onderdeel}} (best 14/15: {{onderdeel.prestatie}})</td>
            </tr>
            </tbody>
        </table>

        <div class="row nk-text-kantlijn">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <br>
                <p style="font-style: italic; font-size: 14px;">(*) Buiten mededinging Nederlands Kampioenschap.</p>
                <p class="nk-text" style="font-style: italic; font-size: 14px;">
                    -- Definitieve vastgestelde lijst met deelnemers --<br>-- Aantal deelnemers {{deelnemers.length}} --</p>
            </div>
        </div>

    </div>
</div>