<div class="container nk-text-kantlijn">
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12 nk-text">
            <p class="nk-h2-text">Inschrijving KNAU NK Masters 2016 geopend</p>
            <div>De inschrijving voor het NK Masters is geopend. Via
                <a class="nk-text-link" href="http://www.inschrijven.nl/baan/nkmasters.html" target="_blank">deze link</a>
                kan voor de diverse onderdelenje ingeschreven worden. Inschrijving is mogelijk tot 22 mei, 23.59 uur.
            </div>
            <br>
            <div>De wedstrijdbepalingen voor de NK Masters 2016 zijn vastgesteld en
                zijn <a class="nk-text-link" href="pdf/nk-masters-2016-wedstrijdbepalingen.pdf" target="_blank">hier</a> te bekijken.
            </div>
            <div>De medaillelimieten zijn vastgesteld.
                <a class="nk-text-link" href="pdf/nk-masters-2016-medaillelimieten-vrouwen.pdf"
                   target="_blank">Klik hier</a> voor de limieten van de vrouwen en
                <a class="nk-text-link" href="pdf/nk-masters-2016-medaillelimieten-mannen.pdf" target="_blank">
                    klik hier</a> voor de limieten van de mannen.
            </div>
            <div>De dagindeling van het NK Masters 2016 is vastgesteld en
                is <a class="nk-text-link" href="pdf/nk-masters-2016-dagindeling.pdf" target="_blank">hier</a> te
                bekijken.</div>
        </div>
    </div>

    <hr class="nk-news-horizontal-line">

    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12 nk-text">
            <p class="nk-h2-text">Organiserend Altis steunt Cliniclowns tijdens het NK Masters 2016 op
                11 en 12 juni. Door giften en acties kunnen er jaarlijks zo’n 90.000 kinderen bezocht worden.</p>
            <div>Cliniclowns komen bij kinderen in ziekenhuizen en instellingen op bezoek, waardoor zij
                afleiding en plezier beleven en zo voor even kunnen vergeten dat ze ziek zijn. De meer dan
                70 clowns bezoeken ruim 100 ziekenhuizen en heel veel andere zorginstellingen door heel Nederland.
                Via de inschrijving kan een bijdrage gegeven worden aan de Cliniclowns.
            </div>
            <br>
            <div>Lees het verhaal over Olivier en kijk naar zijn ontmoeting met cliniclown Waldo
                <a class="nk-text-link"
                   href="http://www.cliniclowns.nl/blog/verhalen/onze-herinneringen-aan-die-middag-zijn-goud-waard" target="_blank">
                    via deze link</a>.
            </div>
         </div>
    </div>

    <br>
    <div class="row nk-text-kantlijn">
        <img class="nk-news-photo" src="images/cliniclowns.jpg">
    </div>

</div>
