<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 nk-text">
            <p>De inschrijving voor het NK Werpen voor Masters in 2015 wordt binnenkort geopend.</p>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="nk-h1-text">Wedstrijdbepalingen <span><a href="pdf/nk-masters-wedstrijdbepalingen.pdf" target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a> </span></div>
            <div>versie 210215</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Algemene bepalingen</p>
            <ul class="nk-text">
                <li>Het voorlopige tijdschema wordt uiterlijk 1 april 2015 gepubliceerd op www.altisnkmasters.nl</li>
                <li>De deelnemerslijsten worden uiterlijk 20 mei 2015 gepubliceerd op www.altisnkmasters.nl</li>
                <li>Een onderdeel vindt doorgang zodra een startgerechtigde atleet zich heeft gemeld en via de call room/meldingstent aan de start is verschenen</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Inschrijfbepalingen</p>
            <ul class="nk-text">
                <li>Bij de inschrijving kan een prestatie worden opgegeven, deze dient bij voorkeur te zijn
                    behaald in de periode 1 april 2014 t/m de sluiting van de inschrijving, zondag 17 mei 2015</li>
                <li>Prestaties dienen te zijn behaald op de voor dat onderdeel en die categorie geldende specificaties (gewichten)</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Afmelden</p>
            <ul class="nk-text">
                <li>Na publicatie van de deelnemerslijsten wordt bij afmelden zonder medische indicatie € 25 administratiekosten in rekening gebracht</li>
                <li>Alleen een medische indicatie van een daarvoor erkende specialist wordt geaccepteerd</li>
                <li>De atleet die zich als gevolg van een medische reden afmeldt, wordt uitgesloten van verdere
                    deelname, tenzij de aard van de blessure de deelname aan een ander onderdeel niet belemmert</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Screening</p>
            <ul class="nk-text">
                <li>Prestaties waarmee wordt ingeschreven, moeten voldoen aan de richtlijnen uit het
                    wedstrijdreglement en tevens verifieerbaar zijn (via een online uitslag van een officiële wedstrijd)</li>
                <li>Voor kogelslingeren, gewichtwerpen en de werpvijfkamp worden per onderdeel maximaal 72
                    atleten (mannen + vrouwen) toegelaten. De verdeling zal geschieden door de technisch gedelegeerde(n)</li>
                <li>Indien het maximaal aantal inschrijvingen wordt overschreden, vindt er een screening plaats op
                    basis van de volgende opvolgende criteria:
                    <ol>
                        <li>Inschrijvingen zonder opgegeven prestaties worden niet geaccepteerd</li>
                        <li>Inschrijvingen met opgegeven prestaties die zijn behaald buiten de genoemde periode worden niet geaccepteerd</li>
                        <li>Inschrijvingen met de minste opgegeven prestaties worden niet geaccepteerd</li>
                    </ol>
                </li>
                <li>De toepassing van alle hierboven genoemde criteria is niet noodzakelijk</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Kampioenstitel(s) en NK medailles</p>
            <div class="nk-underline-text">Kampioenstitel(s) en medailles</div>
            <p class="nk-text">Indien de prestaties van 1e, 2e en/of 3e atleet op een betreffende onderdeel voldoen aan de
                medaillelimiet, worden de respectievelijk gouden, zilveren en/of bronzen medaille uitgereikt. In dat geval
                wordt aan de winnaar de titel ‘Nederlands kampioen’ toegekend.</p>
            <div class="nk-underline-text">Medaillelimieten</div>
            <p class="nk-text">De volgende medaillelimieten zijn vastgesteld:</p>
       </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <table class="table table-bordered table-striped">
                <tr><th>Mannen</th><th>Kogelslingeren</th><th>Gewichtwerpen</th><th>Werpvijfkamp</th></tr>
                <tr><td>35</td><td>39,00</td><td>11,80</td><td>2700</td></tr>
                <tr><td>40</td><td>37,90</td><td>11,60</td><td>2700</td></tr>
                <tr><td>45</td><td>35,10</td><td>10,90</td><td>2700</td></tr>
                <tr><td>50</td><td>35,50</td><td>12,10</td><td>2700</td></tr>
                <tr><td>55</td><td>32,50</td><td>11,30</td><td>2700</td></tr>
                <tr><td>60</td><td>32,30</td><td>11,70</td><td>2700</td></tr>
                <tr><td>65</td><td>29,10</td><td>10,80</td><td>2700</td></tr>
                <tr><td>70</td><td>28,90</td><td>11,00</td><td>2700</td></tr>
                <tr><td>75</td><td>25,40</td><td>10,00</td><td>2700</td></tr>
                <tr><td>80</td><td>25,40</td><td>10,30</td><td>2700</td></tr>
                <tr><td>85</td><td>21,50</td><td>9,10</td><td>2700</td></tr>
            </table>
            <table class="table table-bordered table-striped">
                <tr><th>Vrouwen</th><th>Kogelslingeren</th><th>Gewichtwerpen</th><th>Werpvijfkamp</th></tr>
                <tr><td>35</td><td>33,90</td><td>11,00</td><td>2700</td></tr>
                <tr><td>40</td><td>31,20</td><td>10,20</td><td>2700</td></tr>
                <tr><td>45</td><td>28,50</td><td>9,50</td><td>2700</td></tr>
                <tr><td>50</td><td>30,00</td><td>9,80</td><td>2700</td></tr>
                <tr><td>55</td><td>27,10</td><td>9,00</td><td>2700</td></tr>
                <tr><td>60</td><td>24,30</td><td>9,50</td><td>2700</td></tr>
                <tr><td>65</td><td>21,70</td><td>8,60</td><td>2700</td></tr>
                <tr><td>70</td><td>19,10</td><td>7,60</td><td>2700</td></tr>
                <tr><td>75</td><td>20,50</td><td>7,90</td><td>2700</td></tr>
                <tr><td>80</td><td>17,70</td><td>6,80</td><td>2700</td></tr>
                <tr><td>85</td><td>15,00</td><td>5,80</td><td>2700</td></tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Afwijkende bepalingen</p>
            <div class="nk-underline-text">
                Ten opzichte van de gedrukte versie van het wedstrijdreglement, zijn de volgende afwijkende bepalingen van kracht:
            </div>
            <ul class="nk-text">
                <li>Art. 23, lid 4: De Technisch Directeur van de Atletiekunie beslist over de deelname van buitenlandse atleten</li>
                <li>Art. 143, lid 1: Het verplicht dragen van het verenigingstenue bij individuele baan NK’s vervalt</li>
            </ul>
        </div>
    </div>



</div>
</div>
