<div class="container nk-text-kantlijn">
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12 nk-text">
            <div>Inschrijven is mogelijk vanaf 1 maart 2016.</div>
        </div>
    </div>

    <hr class="nk-news-horizontal-line">

    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12 nk-text">
            <p>De volgende medaillelimieten zijn vastgesteld (klik op het pdf logo voor de limieten):
                    <span style="margin-right: 30px;"><a href="pdf/nk-masters-2016-medaillelimieten.pdf"
                         target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                </p>
        </div>
    </div>

</div>

<!--<div class="container nk-text-kantlijn ">-->
    <!--<div class="row nk-table-limieten">-->
        <!--<div class="col-sm-8 col-md-7 col-lg-6">-->
            <!--<table class="table table-bordered table-striped">-->
                <!--<tr><th>Mannen</th><th>60m</th><th>100m</th><th>200m</th><th>400m</th><th>800m</th><th>1500m</th><th>3000m</th><th>5000m</th><th>10000m</th></tr>-->

                <!--<tr><td>M35</td><td>7,88</td><td>12,03</td><td>24,57</td><td>0:55,0</td><td>2:06,0</td><td>4:17</td><td>9:10</td><td>15:50</td><td>0:33:32</td></tr>-->
                <!--<tr><td>M35</td><td>7,88</td><td>12,03</td><td>24,57</td><td>0:55,0</td><td>2:06,0</td><td>4:17</td><td>9:10</td><td>15:50</td><td>0:33:32</td></tr>-->
                <!--<tr><td>M35</td><td>7,88</td><td>12,03</td><td>24,57</td><td>0:55,0</td><td>2:06,0</td><td>4:17</td><td>9:10</td><td>15:50</td><td>0:33:32</td></tr>-->
                <!--<tr><td>M35</td><td>7,88</td><td>12,03</td><td>24,57</td><td>0:55,0</td><td>2:06,0</td><td>4:17</td><td>9:10</td><td>15:50</td><td>0:33:32</td></tr>-->
                <!--<tr><td>M35</td><td>7,88</td><td>12,03</td><td>24,57</td><td>0:55,0</td><td>2:06,0</td><td>4:17</td><td>9:10</td><td>15:50</td><td>0:33:32</td></tr>-->
                <!--<tr><td>M35</td><td>7,88</td><td>12,03</td><td>24,57</td><td>0:55,0</td><td>2:06,0</td><td>4:17</td><td>9:10</td><td>15:50</td><td>0:33:32</td></tr>-->
                <!--<tr><td>M35</td><td>7,88</td><td>12,03</td><td>24,57</td><td>0:55,0</td><td>2:06,0</td><td>4:17</td><td>9:10</td><td>15:50</td><td>0:33:32</td></tr>-->
                <!--<tr><td>M35</td><td>7,88</td><td>12,03</td><td>24,57</td><td>0:55,0</td><td>2:06,0</td><td>4:17</td><td>9:10</td><td>15:50</td><td>0:33:32</td></tr>-->
                <!--<tr><td>M35</td><td>7,88</td><td>12,03</td><td>24,57</td><td>0:55,0</td><td>2:06,0</td><td>4:17</td><td>9:10</td><td>15:50</td><td>0:33:32</td></tr>-->
            <!--</table>-->

            <!--<table class="table table-bordered table-striped">-->
                <!--<tr><th>Mannen</th><th>halve marathon</th><th>marathon</th><th>kort horden</th><th>lange horden</th><th>steeple</th><th>hoog</th><th>pols</th><th>ver</th></tr>-->
                <!--<tr><td>M35</td><td>7,88</td><td>12,03</td><td>24,57</td><td>0:55,0</td><td>2:06,0</td><td>4:17</td><td>9:10</td><td>15:50</td></tr>-->
            <!--</table>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->
