<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img class="nk-news-photo" src="images/nk-news-03.jpg">
            <div class="nk-news-header">Inschrijving NK Masters Werpen geopend</div>
            <div class="nk-news-date">Maandag 23 maart 2015</div>
            <p class="nk-news-text">De inschrijving voor het NK kogelslingeren, NK gewichtwerpen
                en NK werpvijfkamp voor masters is geopend en er kan tot zondag 17 mei 2015 ingeschreven worden
                via de <a class="nk-text-link" ui-sref="inschrijven">inschrijfpagina</a> op deze website</p>
            <p class="nk-news-text">Bij de inschrijving kan een prestatie worden opgegeven. Deze dient bij voorkeur te zijn behaald
                in de periode 1 april 2014 t/m de sluiting van de inschrijving. Op dit Nederlands Kampioenschap is het Atletiekunie
                wedstrijdreglement 2014-2015, de Regelgeving Nederlandse Kampioenschappen 2015 en de Regeling administratiekosten
                en administratieve boetes onverkort van kracht. De atleet die na inschrijving wordt toegelaten, is te allen tijde
                inschrijfgeld verschuldigd. Ook indien de atleet afziet van deelname en is afgemeld. Inschrijfgeld wordt automatisch
                één week voor aanvang van het NK geïncasseerd. Kijk <a class="nk-text-link" ui-sref="inschrijven">hier</a> voor de
                wedstrijdbepalingen.</p>
        </div>
    </div>
    <hr class="nk-news-horizontal-line">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img class="nk-news-photo" src="images/nk-news-02.jpg">
            <div class="nk-news-header">Wedstrijdbepalingen NK Werpen vastgesteld</div>
            <div class="nk-news-date">Vrijdag 6 maart 2015</div>
            <p class="nk-news-text">Zaterdag 30 en zondag 31 mei a.s. vindt op atletiekbaan Schothorst in Amersfoort het NK
                kogelslingeren, NK gewichtwerpen en NK werpvijfkamp voor masters plaats. Voor dit NK, georganiseerd door de
                Amersfoortse atletiekvereniging Altis, zijn de <a class="nk-text-link" ui-sref="inschrijven">wedstrijdbepalingen</a> vastgesteld.</p>
            <p class="nk-news-text">Het voorlopige tijdschema wordt uiterlijk 1 april a.s. gepubliceerd op deze site.
                Inschrijving voor dit NK wordt binnenkort geopend.
            </p>
        </div>
    </div>
    <hr class="nk-news-horizontal-line">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img class="nk-news-photo" src="images/nk-news-01.jpg">
            <div class="nk-news-header">Organisatie NK Werpen 2015 van start</div>
            <div class="nk-news-date">Zondag 4 januari 2015</div>
            <p class="nk-news-text">Zondag 4 januari jl. is het contract tussen de Atletiekunie en Altis ondertekend
                over de organisatie van het Nederlands Kampioenschap Masters Kogelslingeren, Gewichtwerpen en Werpvijfkamp 2015.
                Dit NK zal dit jaar plaatsvinden op zaterdag 30 en zondag 31 mei op atletiekbaan Schothorst in Amersfoort.
                Altis-voorzitter Hubert Fermina is blij en trots met deze toewijzing:
                “Deze toekenning is een erkenning van het beleid van Altis om de atletieksport in Amersfoort in de top
                en breedte te stimuleren. Ik weet zeker dat we hier met onze vrijwilligers, Klaverblad Verzekeringen,
                overige sponsors, SRO en gemeente, een geweldig evenement van gaan maken. Ook is dit NK een mooie opmaat naar
                het NK Masters dat Altis in 2016 mag organiseren”.</p>
        </div>
    </div>
</div>
