<div class="container">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img class="nk-news-photo" src="images/nk-news-15.jpg">

            <div class="nk-news-header">11 en 12 juni 2016: NK Masters in Amersfoort</div>
            <div class="nk-news-date">Dinsdag 9 juni 2015</div>
            <p class="nk-news-text">In het weekend van 11 en 12 juni 2016 vindt op de atletiekbaan Schothorst in
                Amersfoort het NK Masters plaats. Na de evaluatie van het NK Werpen 2015 beginnen kort na de zomer
                de voorbereidingen voor het NK Masters in 2016.</p>

            <p class="nk-news-text">Vanaf komend najaar vind je meer informatie over het NK Masters 2016 op deze site.
                Kijk <a class="nk-text-link" href="pdf/nk-masters-2016-flyer.pdf" target="_blank">hier</a>
                voor de eerste NK Master 2016 flyer. Wil je als eerste informatie ontvangen over het NK
                Masters? Vraag dan de Nieuwsbrief aan via pr@altisnkmasters.nl. Graag tot ziens in Amersfoort!</p>
        </div>
    </div>
    <hr class="nk-news-horizontal-line">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img class="nk-news-photo" src="images/nk-news-2016-01.jpg">

            <div class="nk-news-header">Wedstrijdofficials voor NK Masters 2016 toegewezen</div>
            <div class="nk-news-date">Dinsdag 27 oktober 2015</div>
            <p class="nk-news-text">De Atletiek Unie heeft de volgende wedstrijdofficials NK Masters op 11 en 12 juni
                2016
                in Amersfoort toegewezen:</p>

            <p class="nk-news-text">Wedstrijdleider: Sebastiaan Durand<br>
                Assistent Wedstrijdleider: Len Alofsen<br>
                Scheidsrechters: Ton Groenendaal, René Meijer, Hennij Oldenhave en Bart van Egeraat<br>
                Starters: Ronald de Bruijn en Paul Hoos<br>
                Chef ET: Maurice van Dongen</p>
        </div>
    </div>
    <div class="visible-sm visible-md visible-lg">
        <br>
        <br>
        <br>
    </div>

<div ng-include="'partials/news-footer.html'"></div>

