<div class="visible-sm visible-md visible-lg">
    <div class="row">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="navbar-inner navbar-content-center">

                <br>
                <div class="nk-line-footer"></div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <p style="padding-left: 14px; padding-top: 3px; color: #F0810F; font-size: 12px;">Sponsors<br>Atletiekunie</p>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5" style="padding-right: 0px; border-right: 1px solid #003473;">
                            <a href="http://www.aa-drink.com/" target="_blank"><img style="padding-left: 30px;" src="images/knau-sponsor-aa-drink.jpg"></a>
                            <a href="http://www.asics.nl/" target="_blank"><img style="padding-left: 15px;" src="images/knau-sponsor-asics.gif"></a>
                            <a href="http://www.lotto.nl" target="_blank"><img style="padding-left: 15px;" src="images/knau-sponsor-lotto.jpg"></a>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                            <p style="padding-top: 3px; color: #003473; font-size: 12px;">Sponsors<br>Altis</p>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <a href="http://www.klaverblad.nl" target="_blank"><img style="padding-left: 10px; padding-top: 6px; padding-bottom: 7px; height: 43px;" src="../images/altis-sponsor-klaverblad.jpg"></a>
                            <a href="http://shop.runnersworld.nl/stores/amersfoort/" target="_blank"><img style="padding-left: 18px; padding-top: 6px; padding-bottom: 8px; height: 43px;" src="../images/altis-sponsor-runnersworld.jpg"></a>
                            <a href="http://www.smamiddennederland.nl" target="_blank"><img style="padding-left: 16px; padding-top: 6px; padding-bottom: 8px; height: 43px;" src="../images/altis-sponsor-sma.jpg"></a>
                        </div>
                    </div>
                </div>

                <div style="height: 6px;"></div>

            </div>
        </nav>
    </div>
</div>

