<div class="container">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img class="nk-news-photo" src="images/nk-news-11.jpg">
            <div class="nk-news-header">Nederlands èn Europees record op eerste dag NK!</div>
            <div class="nk-news-date">Zaterdag 30 mei 2015</div>
            <p class="nk-news-text">Zaterdag 30 mei stonden in Amersfoort het NK Kogelslingeren en
                het NK Gewichtwerpen voor Masters op het programma. Er werden veel goede prestaties
                geleverd en PR's geworpen. Peter van Noort vestigde met 20,93 meter, in zijn klasse M60,
                een nieuw Nederlands record gewichtwerpen.</p>
            <p class="nk-news-text">Gonny Mik verbeterde met 17,20 meter niet alleen het Nederlands
                record in haar klasse V50, maar daarmee tevens het Europees record in deze klasse! Harald
                Gijtenbeek (foto), lid van het organiserende Altis, behaalde zilver bij het
                gewichtwerpen in zijn klasse.</p>
            <p class="nk-news-text">Klik <a class="nk-text-link" ui-sref="uitslagen">hier</a> om alle
                uitslagen van de zaterdag te bekijken. Zondag 31 mei staat het NK Werpvijfkamp op het
                programma. De wedstrijden beginnen om 9.30 uur.</p>
        </div>
    </div>
    <hr class="nk-news-horizontal-line">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img class="nk-news-photo" src="images/nk-news-10.jpg">
            <div class="nk-news-header">Zonnige start NK Werpen 2015</div>
            <div class="nk-news-date">Zaterdag 30 mei 2015</div>
            <p class="nk-news-text">Zaterdag om 11.00 uur werd het NK geopend door de voorzitter van atletiekvereniging
                Altis, Hubert Fermina. Direct daarna begonnen de eerste wedstrijden. Onder een stralend zonnetje
                konden de deelnemers hun onderdeel afwerken. In de loop van de middag stak de wind
                wel op, maar het bleef droog en de zon scheen regelmatig. Kijk
                <a class="nk-text-link" ui-sref="uitslagen">hier</a> voor alle uitslagen.</p>
        </div>
    </div>
    <hr class="nk-news-horizontal-line">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img class="nk-news-photo" src="images/nk-news-09.jpg">

            <div class="nk-news-header">We zijn er klaar voor!</div>
            <div class="nk-news-date">Vrijdag 29 mei 2015</div>
            <p class="nk-news-text">De spandoeken hangen. De tenten staan. Het wedstrijdsecretariaat en de weegruimte
                zijn ingericht. Atletiekvereniging Altis is klaar om de deelnemers aan het NK Werpen Masters 2015 te
                ontvangen.
                De wedstrijden beginnen zaterdag om 11.00 uur en zondag om 9.30 uur.</p>
        </div>
    </div>
    <hr class="nk-news-horizontal-line">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img class="nk-news-photo" src="images/nk-news-08.jpg">

            <div class="nk-news-header">Bloemetjes buiten gezet voor NK</div>
            <div class="nk-news-date">Zondag 24 mei 2015</div>
            <p class="nk-news-text">De laatste voorbereidingsweek op het NK Werpen Masters 2015 is begonnen. De
                accommodatie-, catering-, materialen- en wedstrijdsecretariaatploeg zijn druk
                bezig alles klaar te maken voor het aankomende weekend van 30 en 31 mei. In totaal staan
                84 vrijwilligers klaar om 84 deelnemers te ontvangen. </p>

            <p class="nk-news-text">De atletiekbaan aan de Schothorsterlaan ziet er pico bello uit. De voorzitter
                van het Organisatie Comité, Ans van Maanen, heeft hoogst persoonlijk de bloembakken van nieuwe
                plantjes voorzien. Laat het NK maar beginnen!</p>
        </div>
    </div>
    <hr class="nk-news-horizontal-line">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img class="nk-news-photo" src="images/nkmasters-2015-logo.jpg">

            <div class="nk-news-header">Informatiebulletin voor deelnemers</div>
            <div class="nk-news-date">Donderdag 21 mei 2015</div>
            <p class="nk-news-text">Zondag 17 mei jl. sloot de inschrijving voor dit NK. Een record aantal van 84
                deelnemers heeft zich ingeschreven!</p>

            <p class="nk-news-text">Alle deelnemers hebben woensdag 20 mei per mail het Informatiebulletin toegezonden
                gekregen. U vindt het Informatiebulletin en de plattegrond van de accommodatie
                <a class="nk-text-link" ui-sref="deelnemers">hier</a>.
                Graag tot ziens op zaterdag 30 en zondag 31 mei in Amersfoort.</p>
        </div>
    </div>
    <hr class="nk-news-horizontal-line">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <img class="nk-news-photo" src="images/nk-news-05.jpg">

            <div class="nk-news-header">Verkeershinder tijdens NK Masters</div>
            <div class="nk-news-date">Zondag 10 mei 2015</div>
            <p class="nk-news-text">In het weekend van het NK Werpen voor Masters wordt er aan de A1 vanuit de richting
                Amsterdam gewerkt. De A1 bij Amersfoort is dan dicht tussen de afrit
                Bunschoten (12) en knooppunt Hoevelaken (alleen richting Apeldoorn). De afrit Bunschoten op de A1 is wel
                te gebruiken.
                Bij Knooppunt Eemnes zijn de verbindingswegen van de A27 naar de A1 afgesloten en het is daardoor
                niet mogelijk om bij Eemnes van de A27 op de A1 te komen.</p>

            <p class="nk-news-text">Advies vanuit het noorden: de A28 via Zwolle naar Amersfoort of de A6 bij Lelystad
                richting
                Harderwijk, dan de A28 naar Amersfoort nemen en vervolgens de A1 naar Bunschoten (12).
                Advies vanuit het zuiden: bij Utrecht (Rijnsweerd) de A28 naar Amersfoort nemen en vervolgens
                de A1 naar Bunschoten (12).</p>

            <p class="nk-news-text">Plan uw reis naar Amersfoort van te voren zodat u rekening kunt houden
                met de extra reistijd die deze werkzaamheden met zich meebrengen. Meer informatie is te vinden op
                de website van <a class="nk-text-link" href="http://vananaarbeter.nl" target="_blank">vanAnaarBeter</a>.
            </p>
        </div>
    </div>

    <hr class="nk-news-horizontal-line">
    <p class="nk-news-text" style="margin-top: 10px;">De overige nieuwsberichten vindt u in het <a class="nk-text-link" ui-sref="nieuwsarchief">nieuwsarchief</a>.</p>

</div>

<div class="visible-sm visible-md visible-lg">
    <br>
    <br>
    <br>
</div>

<div ng-include="'partials/news-footer.html'"></div>

