<div class="container">
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text" style="padding-bottom: 8px;">Definitief chronoloog</p>
        </div>
    </div>
</div>

<div class="container">

    <div class="row nk-text-kantlijn">
        <div class="col-sm-10 col-md-8 col-lg-7">
             <p style="line-height: 35px; font-style: italic;">Chronoloog dag 1
                    <span style="margin-right: 30px;"><a href="pdf/nk-masters-2016-chronoloog-dag1.pdf" target="_blank">
                        <img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    <span style="white-space: nowrap;">Chronoloog dag 2
                        <a href="pdf/nk-masters-2016-chronoloog-dag2.pdf" target="_blank">
                            <img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">

                <div class="col-sm-5 col-md-4 col-lg-4">
                    <table class="table table-bordered table-striped nk-table-align">
                        <tr><th>Za</th><th>11 juni</th><th>2016</th></tr>
                        <tr><td>10:00</td><td>400m</td><td>M75 M70 finale</td></tr>
                        <tr><td>10:00</td><td>speer</td><td>V65 V60 V55 finale</td></tr>
                        <tr><td>10:05</td><td>400m</td><td>M65 finale</td></tr>
                        <tr><td>10:10</td><td>400m</td><td>M60 2 series</td></tr>
                        <tr><td>10:20</td><td>400m</td><td>M55 finale</td></tr>
                        <tr><td>10:20</td><td>hss</td><td>V60 V50 V45 V40 V35 finale</td></tr>
                        <tr><td>10:25</td><td>400m</td><td>M50 2 series</td></tr>
                        <tr><td>10:35</td><td>400m</td><td>M45 2 series</td></tr>
                        <tr><td>10:45</td><td>400m</td><td>M40 finale</td></tr>
                        <tr><td>10:50</td><td>400m</td><td>M35 2 series</td></tr>
                        <tr><td>11:00</td><td>400m</td><td>V70 V60 V50 finale</td></tr>
                        <tr><td>11:00</td><td>kogel</td><td>M45 M40 M35 finale</td></tr>
                        <tr><td>11:05</td><td>400m</td><td>V40 finale</td></tr>
                        <tr><td>11:10</td><td>400m</td><td>V45 V35 finale</td></tr>
                        <tr><td>11:15</td><td>speer</td><td>V50 V45 V40 V35 finale</td></tr>
                        <tr><td>11:30</td><td>80mH</td><td>V60 finale</td></tr>
                        <tr><td>11:35</td><td>80mH</td><td>M75 M70 V55 finale</td></tr>
                        <tr><td>11:40</td><td>80mH</td><td>V45 finale</td></tr>
                        <tr><td>11:40</td><td>ver</td><td>V75 V60 V55 V50 finale</td></tr>
                        <tr><td>11:45</td><td>80mH</td><td>V40 finale</td></tr>
                        <tr><td>12:20</td><td>100mH</td><td>M55 M50 finale</td></tr>
                        <tr><td>12:30</td><td>110mH</td><td>M45 M40 M35 finale</td></tr>
                        <tr><td>12:35</td><td>discus</td><td>M85 M80 M75 M70 finale</td></tr>
                        <tr><td>12:50</td><td>400m</td><td>M60 finale</td></tr>
                        <tr><td>12:50</td><td>kogel</td><td>M55 M50 finale</td></tr>
                        <tr><td>12:55</td><td>400m</td><td>M50 finale</td></tr>
                        <tr><td>13:00</td><td>polshoog</td><td>M75 M65 M60 M55 M45 M40 M35 V35 finale</td></tr>
                        <tr><td>13:00</td><td>400m</td><td>M45 finale</td></tr>
                        <tr><td>13:05</td><td>400m</td><td>M35 finale</td></tr>
                        <tr><td>13:15</td><td>ver</td><td>V45 V40 V35 finale</td></tr>
                        <tr><td>13:20</td><td>100m</td><td>M75 M65 finale</td></tr>
                        <tr><td>13:25</td><td>100m</td><td>M70 finale</td></tr>
                        <tr><td>13:30</td><td>100m</td><td>M60 finale</td></tr>
                        <tr><td>13:35</td><td>100m</td><td>M55 2 series</td></tr>
                        <tr><td>13:45</td><td>100m</td><td>M50 finale</td></tr>
                        <tr><td>13:45</td><td>discus</td><td>M45 M40 M35 finale</td></tr>
                        <tr><td>13:50</td><td>100m</td><td>M45 2 series</td></tr>
                        <tr><td>14:00</td><td>100m</td><td>M40 2 series</td></tr>
                        <tr><td>14:10</td><td>100m</td><td>M35 2 series</td></tr>
                        <tr><td>14:20</td><td>100m</td><td>V75 V60 V55 finale</td></tr>
                        <tr><td>14:25</td><td>100m</td><td>V50 V45 finale</td></tr>
                        <tr><td>14:30</td><td>100m</td><td>V40 finale</td></tr>
                        <tr><td>14:35</td><td>100m</td><td>V35 finale</td></tr>
                        <tr><td>14:45</td><td>1500m</td><td>M75 M70 finale</td></tr>
                        <tr><td>14:55</td><td>1500m</td><td>M65 M60 finale</td></tr>
                        <tr><td>15:00</td><td>kogel</td><td>M65 M60 finale</td></tr>
                        <tr><td>15:05</td><td>1500m</td><td>M55 finale</td></tr>
                        <tr><td>15:10</td><td>hss</td><td>M45 M40 M35 finale</td></tr>
                        <tr><td>15:15</td><td>1500m</td><td>M50 finale</td></tr>
                        <tr><td>15:25</td><td>1500m</td><td>M45 finale</td></tr>
                        <tr><td>15:30</td><td>discus</td><td>M55 M50 finale</td></tr>
                        <tr><td>15:35</td><td>1500m</td><td>M40 finale</td></tr>
                        <tr><td>15:45</td><td>1500m</td><td>M35 finale</td></tr>
                        <tr><td>16:00</td><td>100m</td><td>M55 finale</td></tr>
                        <tr><td>16:05</td><td>100m</td><td>M45 finale</td></tr>
                        <tr><td>16:10</td><td>100m</td><td>M40 finale</td></tr>
                        <tr><td>16:15</td><td>kogel</td><td>M85 M80 M75 M70 finale</td></tr>
                        <tr><td>16:15</td><td>100m</td><td>M35 finale</td></tr>
                        <tr><td>16:20</td><td>hoog</td><td>V65 V60 V55 V45 V40 V35 finale</td></tr>
                        <tr><td>16:25</td><td>1500m</td><td>V75 V65 V60 finale</td></tr>
                        <tr><td>16:40</td><td>1500m</td><td>V55 V50 V45 V40 V35 finale</td></tr>
                        <tr><td>17:00</td><td>5000m</td><td>M65 M45 M40 M35 finale</td></tr>
                        <tr><td>17:05</td><td>hss</td><td>M70 M65 M60 M50 finale</td></tr>
                        <tr><td>17:20</td><td>discus</td><td>M65 M60 finale</td></tr>
                        <tr><td>17:30</td><td>5000m</td><td>M70 M60 M55 M50 finale</td></tr>
                        <tr><td>18:10</td><td>4x100m</td><td>M50 M40 V35 finale</td></tr>
                        <tr><td>18:15</td><td>4x100m</td><td>M35 finale</td></tr>
                    </table>
                </div>

                <div class="col-sm-5 col-md-4 col-lg-4">
                    <table class="table table-bordered table-striped nk-table-align">
                        <tr><th>Zo</th><th>12 juni</th><th>2016</th></tr>
                        <tr><td>10:00</td><td>discus</td><td>V70 V65 V60 finale</td></tr>
                        <tr><td>10:00</td><td>300mH</td><td>M70 V60 finale</td></tr>
                        <tr><td>10:10</td><td>300mH</td><td>M65 finale</td></tr>
                        <tr><td>10:20</td><td>400mH</td><td>V45 V40 V35 finale</td></tr>
                        <tr><td>10:30</td><td>400mH</td><td>M55 M50 finale</td></tr>
                        <tr><td>10:40</td><td>400mH</td><td>M45 finale</td></tr>
                        <tr><td>10:45</td><td>hoog</td><td>M50 M45 M40 finale</td></tr>
                        <tr><td>10:45</td><td>400mH</td><td>M40 M35 finale</td></tr>
                        <tr><td>11:00</td><td>ver</td><td>M75 M70 M65 M60 finale</td></tr>
                        <tr><td>11:00</td><td>3/5000m SW</td><td>Alle cat. finale</td></tr>
                        <tr><td>11:10</td><td>discus</td><td>V55 V50 finale</td></tr>
                        <tr><td>11:45</td><td>800m</td><td>M80 M75 M70 finale</td></tr>
                        <tr><td>11:50</td><td>800m</td><td>M65 finale</td></tr>
                        <tr><td>11:55</td><td>800m</td><td>M60 finale</td></tr>
                        <tr><td>12:00</td><td>800m</td><td>M55 2 series op tijd</td></tr>
                        <tr><td>12:10</td><td>800m</td><td>M50 2 series op tijd</td></tr>
                        <tr><td>12:20</td><td>800m</td><td>M45 2 series op tijd</td></tr>
                        <tr><td>12:30</td><td>800m</td><td>M40 2 series op tijd</td></tr>
                        <tr><td>12:40</td><td>800m</td><td>M35 2 series op tijd</td></tr>
                        <tr><td>12:40</td><td>discus</td><td>V45 V40 V35 finale</td></tr>
                        <tr><td>12:50</td><td>800m</td><td>V65 V60 finale</td></tr>
                        <tr><td>12:55</td><td>800m</td><td>V55 V50 V45 finale</td></tr>
                        <tr><td>13:00</td><td>800m</td><td>V40 V35 finale</td></tr>
                        <tr><td>13:10</td><td>2000m st</td><td>V50 V40 V35 finale</td></tr>
                        <tr><td>13:10</td><td>ver</td><td>M40 M35 finale</td></tr>
                        <tr><td>13:25</td><td>3000m st</td><td>M55 M50 M45 M40 M35 finale</td></tr>
                        <tr><td>13:45</td><td>hoog</td><td>M75 M70 M65 M60 M55 finale</td></tr>
                        <tr><td>13:50</td><td>10000m</td><td>V55 V50 V45 V40 V35 finale</td></tr>
                        <tr><td>14:15</td><td>speer</td><td>M75 M70 M65 M60 finale</td></tr>
                        <tr><td>14:35</td><td>5000m</td><td>V65 V60 V55 V50 V45 V40 V35 finale</td></tr>
                        <tr><td>14:55</td><td>kogel</td><td>V75 V70 V65 V60 finale</td></tr>
                        <tr><td>15:05</td><td>200m</td><td>M75 V60 finale</td></tr>
                        <tr><td>15:10</td><td>200m</td><td>M70 finale</td></tr>
                        <tr><td>15:15</td><td>200m</td><td>M65 2 series</td></tr>
                        <tr><td>15:25</td><td>200m</td><td>M60 2 series</td></tr>
                        <tr><td>15:35</td><td>200m</td><td>M55 2 series</td></tr>
                        <tr><td>15:45</td><td>200m</td><td>M50 2 series</td></tr>
                        <tr><td>15:50</td><td>speer</td><td>M55 M50 finale</td></tr>
                        <tr><td>15:55</td><td>200m</td><td>M45 2 series</td></tr>
                        <tr><td>16:05</td><td>200m</td><td>M40 2 series</td></tr>
                        <tr><td>16:15</td><td>ver</td><td>M55 M50 M45 finale</td></tr>
                        <tr><td>16:15</td><td>200m</td><td>M35 2 series</td></tr>
                        <tr><td>16:15</td><td>kogel</td><td>V55 V50 finale</td></tr>
                        <tr><td>16:25</td><td>200m</td><td>V55 finale</td></tr>
                        <tr><td>16:30</td><td>200m</td><td>V50 finale</td></tr>
                        <tr><td>16:35</td><td>200m</td><td>V45 finale</td></tr>
                        <tr><td>16:40</td><td>200m</td><td>V40 V35 finale</td></tr>
                        <tr><td>16:55</td><td>10000m</td><td>M50 M45 M40 M35 finale</td></tr>
                        <tr><td>17:40</td><td>200m</td><td>M65 finale</td></tr>
                        <tr><td>17:45</td><td>200m</td><td>M60 finale</td></tr>
                        <tr><td>17:50</td><td>speer</td><td>M45 M40 M35 finale</td></tr>
                        <tr><td>17:50</td><td>200m</td><td>M55 finale</td></tr>
                        <tr><td>17:55</td><td>200m</td><td>M50 finale</td></tr>
                        <tr><td>18:00</td><td>200m</td><td>M45 finale</td></tr>
                        <tr><td>18:05</td><td>kogel</td><td>V45 V40 V35 finale</td></tr>
                        <tr><td>18:05</td><td>200m</td><td>M40 finale</td></tr>
                        <tr><td>18:10</td><td>200m</td><td>M35 finale</td></tr>
                        <tr><td>18:20</td><td>10000m</td><td>M75 M70 M65 M60 M55 finale</td></tr>
                        <tr><td>19:20</td><td>4x400m</td><td>M50 M45 M40 finale</td></tr>
                        <tr><td>19:30</td><td>4x400m</td><td>M35 finale</td></tr>
                   </table>
                </div>

            </div>
        </div>
    </div>
</div>