<div class="container">
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h1-text">Programma <span><a href="pdf/nk-masters-chronoloog.pdf" target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a> </span></p>
            <p class="nk-h2-text">Groepsindeling</p>
            <p style="padding-bottom: 8px;">Groep 1 : M65 M70 M80 V60 V65 V70<br>
                Groep 2 : M50 M55 M60<br>
                Groep 3 : V35 V40 V45 V50 V55<br>
                Groep 4 : M35 M40 M45</p>
            <p class="nk-h2-text">Chronoloog</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">

                <div class="col-sm-6 col-md-5 col-lg-5">
                    <table class="table table-bordered table-striped nk-table-align">
                        <tr><th style="width: 20%;">Dag 1</th><th style="width: 80%;">Zaterdag 30 mei 2015</th></tr>
                        <tr><td>10:00</td><td style="font-style: italic">Juryvergadering (alle groepen)</td></tr>
                        <tr><td>10:55</td><td>Opening</td></tr>
                        <tr><td>11:00</td><td>Kogelslingeren groep 3</td></tr>
                        <tr><td>11:05</td><td>Gewichtwerpen groep 1</td></tr>
                        <tr><td>12:40</td><td>Gewichtwerpen groep 2</td></tr>
                        <tr><td>12:55</td><td>Kogelslingeren groep 4</td></tr>
                        <tr><td>14:20</td><td>Gewichtwerpen groep 3</td></tr>
                        <tr><td>14:45</td><td>Kogelslingeren groep 1</td></tr>
                        <tr><td>16:10</td><td>Gewichtwerpen groep 4</td></tr>
                        <tr><td>16:30</td><td>Kogelslingeren groep 2</td></tr>
                    </table>
                </div>

                <div class="col-sm-6 col-md-5 col-lg-5">
                    <table class="table table-bordered table-striped nk-table-align">
                        <tr><th style="width: 20%;">Dag 2</th><th style="width: 80%;">Zondag 31 mei 2015</th></tr>
                         <tr><td>08:45</td><td style="font-style: italic">Juryvergadering (groep 1 en 2)</td></tr>
                        <tr><td>11:00</td><td style="font-style: italic">Juryvergadering (groep 3 en 4)</td></tr>
                        <tr><td>09:30</td><td>Kogelslingeren groep 1 (grote kooi)</td></tr>
                        <tr><td>10:50</td><td>Kogelstoten groep 1 (kogel)</td></tr>
                        <tr><td>10:50</td><td>Kogelslingeren groep 2 (grote kooi)</td></tr>
                        <tr><td>11:55</td><td>Discuswerpen groep 1 (kleine kooi)</td></tr>
                        <tr><td>12:05</td><td>Kogelstoten groep 2 (kogel)</td></tr>
                        <tr><td>12:05</td><td>Kogelslingeren groep 3 (grote kooi)</td></tr>
                        <tr><td>13:05</td><td>Discuswerpen groep 2 (kleine kooi)</td></tr>
                        <tr><td>13:20</td><td>Kogelstoten groep 3 (kogel)</td></tr>
                        <tr><td>13:20</td><td>Kogelslingeren groep 4 (speer)</td></tr>
                        <tr><td>14:20</td><td>Discuswerpen groep 3 (kleine kooi)</td></tr>
                        <tr><td>14:30</td><td>Kogelstoten groep 4 (kogel)</td></tr>
                        <tr><td>14:40</td><td>Speerwerpen groep 1 (speer)</td></tr>
                        <tr><td>15:30</td><td>Discuswerpen groep 4 (kleine kooi)</td></tr>
                        <tr><td>15:55</td><td>Speerwerpen groep 2 (speer)</td></tr>
                        <tr><td>16:40</td><td>Gewichtwerpen groep 1 (kleine kooi)</td></tr>
                        <tr><td>17:00</td><td>Speerwerpen groep 3 (speer)</td></tr>
                        <tr><td>17:50</td><td>Gewichtwerpen groep 2 (kleine kooi)</td></tr>
                        <tr><td>18:05</td><td>Speerwerpen groep 4 (speer)</td></tr>
                        <tr><td>18:55</td><td>Gewichtwerpen groep 3 (kleine kooi)</td></tr>
                        <tr><td>19:05</td><td>Gewichtwerpen groep 4 (grote kooi)</td></tr>
                        <tr><td>19:35</td><td>Ceremonie Protocolaire</td></tr>
                    </table>
               </div>

            </div>
        </div>
    </div>
</div>