<div class="container">
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text" style="padding-bottom: 8px;">Vastgestelde dagindeling</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">

                <div class="col-sm-5 col-md-4 col-lg-4">
                    <table class="table table-bordered table-striped nk-table-align">
                        <tr><th>Za 11 juni 2016</th><th></th><th></th></tr>
                        <tr><td>80/100/110mH</td><td>Finale</td><td>M/V</td></tr>
                        <tr><td>100 meter</td><td>Series/Finale</td><td>M/V</td></tr>
                        <tr><td>400 meter</td><td>Series/Finale</td><td>M/V</td></tr>
                        <tr><td>1500 meter</td><td>Finale</td><td>M/V</td></tr>
                        <tr><td>5000 meter</td><td>Finale</td><td>M</td></tr>
                        <tr><td>4x100 meter</td><td>Finale</td><td>M/V</td></tr>
                        <tr><td>Discuswerpen</td><td>Finale</td><td>M</td></tr>
                        <tr><td>Hink-stap-sprong</td><td>Finale</td><td>M/V</td></tr>
                        <tr><td>Hoogspringen</td><td>Finale</td><td>V</td></tr>
                        <tr><td>Kogelstoten</td><td>Finale</td><td>M</td></tr>
                        <tr><td>Polstokhoog</td><td>Finale</td><td>M/V</td></tr>
                        <tr><td>Speerwerpen</td><td>Finale</td><td>V</td></tr>
                        <tr><td>Verspringen</td><td>Finale</td><td>V</td></tr>
                    </table>
                </div>

                <div class="col-sm-5 col-md-4 col-lg-4">
                    <table class="table table-bordered table-striped nk-table-align">
                        <tr><th>Zo 12 juni 2016</th><th></th><th></th></tr>
                        <tr><td>200/300/400mH</td><td>Finale</td><td>M/V</td></tr>
                        <tr><td>200 meter</td><td>Series/Finale</td><td>M/V</td></tr>
                        <tr><td>800 meter</td><td>Finale</td><td>M/V</td></tr>
                        <tr><td>5000 meter</td><td>Finale</td><td>V</td></tr>
                        <tr><td>10000 meter</td><td>Finale</td><td>M/V</td></tr>
                        <tr><td>4x400 meter</td><td>Finale</td><td>M/V</td></tr>
                        <tr><td>Snelwandelen</td><td>Finale</td><td>M/W</td></tr>
                        <tr><td>Steeple</td><td>Finale</td><td>M/V</td></tr>
                        <tr><td>Discuswerpen</td><td>Finale</td><td>V</td></tr>
                        <tr><td>Hoogspringen</td><td>Finale</td><td>M</td></tr>
                        <tr><td>Kogelstoten</td><td>Finale</td><td>V</td></tr>
                        <tr><td>Speerwerpen</td><td>Finale</td><td>M</td></tr>
                        <tr><td>Verspringen</td><td>Finale</td><td>M</td></tr>
                   </table>
                </div>

            </div>
        </div>
    </div>
</div>