<div class="container">
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Atletiekbaan Schothorst</p>
            <div class="nk-text">Schothorsterlaan 78</div>
            <div class="nk-text">3822 NB Amersfoort</div>
            <div class="nk-text">T: 033 480 19 61</div>
        </div>
    </div>

    <hr class="nk-news-horizontal-line">

    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h2-text">Routebeschrijving</p>
            <p class="nk-text">De atletiekbaan van A.V. Altis ligt aan de Schothorsterlaan in Amersfoort.
                De ingang bevindt zich aan de kant van de Hamseweg in Hoogland.</p>

            <p class="nk-h2-text">Auto</p>
            <div class="nk-text">Komende vanaf de A1, afslag Bunschoten, richting Amersfoort aanhouden.</div>
            <div class="nk-text">Bij de eerste verkeerslichten gaat u linksaf richting Hoogland.</div>
            <div class="nk-text">Direct bij de rotonde (na 100m) gaat u rechtsaf.</div>
            <div class="nk-text">U rijdt nu door de dorpskern van Hoogland.</div>
            <div class="nk-text">Direct buiten de dorpskern (nog net voor de eerste verkeersdrempels) gaat u linksaf de Schothorsterlaan in.</div>
            <div class="nk-text">Het parkeerterrein ligt dan links en de atletiekbaan bevindt zich aan de rechterzijde van de Schothorsterlaan.</div>
            <br>
            <div class="nk-text">Komende vanaf de A28 bij knooppunt Hoevelaken de A1 richting Amsterdam aanhouden.</div>
            <div class="nk-text">Na afslag Amersfoort-Noord komt u bij afslag Bunschoten.</div>
            <div class="nk-text">Volg hierna de eerder genoemde route richting de baan.</div>
            <br>
            <p class="nk-h2-text">Openbaar vervoer</p>
            <div class="nk-text">Per openbaar vervoer is de baan vanaf station Amersfoort te bereiken met bus 2 (Nieuwland via Hoogland).</div>
            <div class="nk-text">Uitstappen bij halte Elly Takmastraat. Je ziet de baan dan aan de rechterkant al liggen.</div>
        </div>
    </div>
</div>
