<div class="container">
    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h1-text">Event Sponsors</p>
            <a href="http://homeartgaleri.webklik.nl/page/homepage" target="_blank"><img style="height: 160px; margin-top: 15px;" src="images/event-sponsor-home-art-galeri.jpg"></a><br>
            <a href="http://www.berghotelamersfoort.nl" target="_blank"><img style="height: 120px; margin-top: 30px;" src="images/altis-sponsor-best-western.jpg"></a>
            <a href="http://www.glas.nl/amersfoort" target="_blank"><img style="height: 50px; margin-left: 20px;" src="images/event-sponsor-glaspunt.png"></a><br>
            <a href="https://www.misterhippo.nl/loodgieter/amersfoort/" target="_blank"><img style="height: 100px; margin-top: 30px;" src="images/event-sponsor-misterhippo.png"></a><br>
            <a href="https://www.bruinadvocaat.nl/" target="_blank"><img style="height: 70px; margin-top: 30px;" src="images/event-sponsor-bruin-advocatenkantoor.png"></a><br>
            <a href="http://www.drive2design.nl/" target="_blank"><img style="height: 70px; margin-top: 30px;" src="images/event-sponsor-drive2design.jpg"></a><br>
        </div>
    </div>

    <hr class="nk-news-horizontal-line">

    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h1-text">Sponsors Atletiekunie</p>
            <a href="http://www.asics.nl" target="_blank"><img style="height: 40px; margin-top: 15px;" src="images/knau-sponsor-asics-lg.jpg"></a><br>
            <a href="http://www.aa-drink.com/" target="_blank"><img style="height: 90px; margin-top: 15px;" src="images/knau-sponsor-aa-drink-lg.jpg"></a><br>
            <a href="https://www.lotto.nl" target="_blank"><img style="height: 50px; margin-top: 17px;" src="images/knau-sponsor-lotto-lg.gif"></a>
        </div>
    </div>

    <hr class="nk-news-horizontal-line">

    <div class="row nk-text-kantlijn">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="nk-h1-text">Sponsors Altis</p>
            <a href="http://www.klaverblad.nl" target="_blank"><img style="height: 50px; margin-top: 15px;" src="images/altis-sponsor-klaverblad-lg.jpg"></a><br>
            <a href="http://shop.runnersworld.nl/stores/amersfoort/" target="_blank"><img style="height: 40px; margin-top: 30px;" src="images/altis-sponsor-runnersworld-lg.jpg"></a><br>
            <a href="http://www.smamiddennederland.nl" target="_blank"><img style="height: 40px; margin-top: 30px;" src="images/altis-sponsor-sma-lg.jpg"></a>
        </div>
    </div>
</div>

