<div ng-controller="nkUitslagenCTRL" xmlns="http://www.w3.org/1999/html">

    <div class="container">

        <div class="row nk-text-kantlijn">
            <div class="col-sm-10 col-md-8 col-lg-7">
                <p class="nk-h2-text">Uitslagen vrouwen</p>

                <p style="line-height: 35px; font-style: italic;">
                    100m<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-100m-vrouwen.pdf"
                                                         target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    400m<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-400m-vrouwen.pdf"
                                                             target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    1500m<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-1500m-vrouwen.pdf"
                                                              target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    Horden<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-horden-vrouwen-v2.pdf"
                                                              target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    <br>
                    Hink-stap-sprong<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-hink-stap-sprong-vrouwen.pdf"
                                                                         target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    Hoogspringen<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-hoog-vrouwen.pdf"
                                                                     target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    Verspringen<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-verspringen-vrouwen.pdf"
                                                                     target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    Polshoog<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-polshoog-mannen.pdf"
                                                                 target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    <br>
                    Speerwerpen<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-speer-vrouwen.pdf"
                                                                         target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                </p>
            </div>
        </div>

        <hr class="nk-news-horizontal-line">

        <div class="row nk-text-kantlijn">
            <div class="col-sm-10 col-md-8 col-lg-7">
                <p class="nk-h2-text">Uitslagen mannen</p>

                <p style="line-height: 35px; font-style: italic;">
                    100m<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-100m-mannen-v2.pdf"
                                                             target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    400m<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-400m-mannen.pdf"
                                                             target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    1500m<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-1500m-mannen.pdf"
                                                              target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    5000m<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-5000m-mannen.pdf"
                                                              target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    Horden<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-horden-mannen-v2.pdf"
                                                               target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    <br>
                    Hink-stap-sprong<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-hink-stap-sprong-mannen.pdf"
                                                                         target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    Polshoog<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-polshoog-mannen.pdf"
                                                                     target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    <br>
                    Discus<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-discus-mannen.pdf"
                                                               target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                    Kogel<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-kogel-mannen.pdf"
                                                               target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
                </p>
            </div>
        </div>

        <hr class="nk-news-horizontal-line">

        <div class="row nk-text-kantlijn">
            <div class="col-sm-10 col-md-8 col-lg-7">
                <p class="nk-h2-text">Estafettes</p>

                <p style="line-height: 35px; font-style: italic;">
                    4x100m<span style="margin-right: 20px;"><a href="pdf/uitslagen/zaterdag/nk-masters-2016-uitslag-100m-estafette.pdf"
                                                             target="_blank"><img class="nk-pdf-logo" src="images/pdf-logo.jpg"></a></span>
            </div>
</div>
